body, html {
    margin: 0;
    height: 100dvh;
    width: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
}

.main-container {
    height: 600px;
    width: 350px;
   
    
}

#mainScreen {
    display: flex;
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: all ease-in-out 0.5s;
    opacity: 1;
    
}

#returnBtn{
padding: 15px;
transform: translateY(300px);
border-radius: 10px;
border: 2px black solid;
background-color: rgb(226, 226, 15);
}

#finalResult{
    height: 100%;
    width: 100%;
    opacity: 0;
    position: absolute;
    transition: all ease-in-out 2s;
    display: flex;
    flex-direction: column;
    align-items: center;



}

#placeScreen {
    display: flex;
    height: 100%;
    display: flex;
    flex-direction: column;
    display: none;
    transition: all ease-in-out 0.5s;
    opacity: 0;

}


#battleScreen {
    background-color:bisque;
    position: relative;
    height: 100%;
    flex-direction: column;
    display: none;
    transition: all ease-in-out 0.5s;
    justify-content: center;
    align-items: center;
    opacity: 0;

}

#overlayBattle{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    gap: 5px;
    transition: all ease-in-out 1.5s;
}

#overlayText{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:absolute;
    top: 0;
    left: 0;
}

.title {
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title h1, p {
    padding: 0;
    margin: 0;
}

.versus {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.sideA, .sideB{
    height: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.sideA h1, .sideB h1{
    margin-top: 10px;
    margin-bottom: 0;
    padding: 0;
}

#textSideA, #textSideB {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    

}

.input-bar {
    padding: 10px;
    border: black 2px solid;
}

.versus button {
    padding: 10px;
    border: 3px black solid;
    border-radius: 5px;
    justify-self: flex-end;
    box-shadow: 1px 2px 2px 0px;
    transition: all ease-in 0.2s;
}




.fight {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.fight button {
    padding: 10px 40px;
    border: 3px black solid;
    border-radius: 5px;
    box-shadow: 1px 2px 2px 0px;
    transition: all ease-in 0.2s;
}

.fight button:active {
    box-shadow: none;
    transform: translateY(5px);
}

#playerASide, #playerBSide, #locationSide {
    margin: 0;
    height: 33%;
}

#playerASide, #playerBSide{

    display: flex;
    
}

#locationSide{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    
}

.img-location{
    height: 60%;
    width: 80%;
    border-radius: 10px;
}

.left-A,.right-A, .left-B, .right-B{
    width: 50%;
    
}

#pictureLocation{
    width: 300px;
    height: 180px;
    border: 2px solid black;
    opacity: 0;
    transition: all ease-in-out 0.5s;
    background-size: cover;
    background-position: center;
    background-repeat: no repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 25px;
}

#pictureA, #pictureB{
    width: 170px;
    height: 170px;
    border: 2px solid black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 15px;
    opacity: 0;

}

#resultH1{
    color: white;
}




.left-A, .right-B{
 
    display: flex;
    justify-content: center;
    align-items: center;

}
.img-space {
    width: 90%;
    height: 90%;

    border-radius: 10px;
}


#locationSide{
    transition: all ease-in-out 0.2s;
}

#uploadBoxA, #uploadBoxB, #uploadBoxLoc {
    border: 2px dashed gray;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#fileInputA, #fileInputB, #fileInputLoc {
    display: none;
}

#readyBtnA, #readyBtnB {
    transition: all ease-in-out 0.5s;
    background-color: gray;
}

#playerAOverlay{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
#playerBOverlay{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#playerAh2, #playerBh2{
    text-align: center;
    opacity: 0;
    transition: all ease-in-out 0.5s;
}

#playerAh2.active, #playerBh2.active{
    opacity: 1;
}


#readyBtnA.active{
    background-color: rgb(244, 51, 51);
}
#readyBtnB.active{
    background-color: rgb(87, 87, 240);
}

#locationSide.active{
    background-color: orange;
}

#overlayBattle.active{
    background-color: black;
}

#mainScreen.active{
    opacity: 0;
}

#placeScreen.active{
    opacity: 1;
}

#battleScreen.active{
    opacity:1;
}

#pictureLocation.active{
    opacity: 1;
}

#pictureA.enter{
    animation: enterA 1s ease forwards;
}

#pictureB.enter{
    animation: enterB 1s ease forwards;
}


#pictureA {
    transform: translateY(-400px);
}

#pictureB{
    transform: translateY(400px);
}

#pictureA.fight{
    animation: fightA 1.5s ease-in-out infinite;
}

#pictureB.fight{
    animation: fightB 1.5s ease-in-out infinite;
}

#pictureA.win{
    animation: winA 1s ease forwards;
}

#pictureA.lose{
    animation: loseA 1s ease forwards;
}

#pictureB.win{
    animation: winB 1s ease forwards;
}

#pictureB.lose{
    animation: loseB 1s ease forwards;
}

#finalResult.active{
    opacity: 1;
}

@keyframes enterA {
    0% { transform: translateY(-400px); opacity: 0;}
    100% {transform: translateY(0); opacity: 1;}
}
  

@keyframes enterB{
    0% { transform: translateY(400px); opacity: 0;}
    100% {transform: translateY(0); opacity: 1;}
   
}

@keyframes fightA {
    0%   { transform: translateY(0); }
    20%  { transform: translateY(40px); } 
    25%  { transform: translateY(0) scale(1.1); }
    50%  { transform: translateY(-30px); }
    70%  { transform: translateY(40px); }  
    75%  { transform: translateY(0) scale(1.1); } 
    100% { transform: translateY(0); }

}

@keyframes fightB {
    0%   { transform: translateY(0); }
    20%  { transform: translateY(-40px); }  
    25%  { transform: translateY(0) scale(1.1); } 
    50%  { transform: translateY(30px); }   
    70%  { transform: translateY(-40px); }  
    75%  { transform: translateY(0) scale(1.1); }
    100% { transform: translateY(0); }      

}

@keyframes winA{
    from {transform: translateY(0)}
    to {transform: translateY(90px) scale(1.5);}

}

@keyframes winB{
    from {transform: translateY(0);}
    to {transform: translateY(-90px) scale(1.5)}

}

@keyframes loseA{
    from {transform: translateY(0)}
    to {transform: translateY(-400px)}

}

@keyframes loseB{
    from {transform: translateY(0)}
    to {transform: translateY(400px)}

}
